[submodule "moonlight"]
	path = moonlight
	url = https://github.com/lainproliant/moonlight
[submodule "jotdown"]
	path = jotdown
	url = https://github.com/lainproliant/jotdown
[submodule "date"]
	path = date
	url = https://github.com/HowardHinnant/date
